# Default ignored files
/../../NATO alphabet project /.idea/shelf/
/../../NATO alphabet project /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../NATO alphabet project /.idea/httpRequests/
# Datasource local storage ignored files
/../../NATO alphabet project /.idea/dataSources/
/../../NATO alphabet project /.idea/dataSources.local.xml
